<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>20/01/31 19:42:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hotwire_Automation.TC_TestCaseName()[pri:0, instance:Tests_Hotwire.Hotwire_Automation@28d25987]">TC_TestCaseName</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>20/01/31 19:44:13</td>   <td>121762</td> <td>&nbsp;</td><td title="&lt;&lt;Hotwire_Automation.tearDown()[pri:0, instance:Tests_Hotwire.Hotwire_Automation@28d25987]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
